/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */



.open-sans-normal {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* shared style  */ /*the following styles are in many places ...so we are using as shared style*/

  .secondary-bg{
    background-color: #FFF8F3;
  }
  .text-primary{
       color:#FD6E0A ;
  }

  .dark-2{
    color:#474747 ;
  }

  .btn-primary{
    color: white;
    background-color:#FD6E0A;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px 19px 36px;
  }

  .sec-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
  }

  .sec-descrip{
    font-size: 18px;
    color: #757575;
  }

  .text-center{
    text-align: center;
  }

  /* header */
  .header{
    background-image: url('../images/developer.png'),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
  }
/* nav styles */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.banner-content{
    max-width: 585px;
}

.banner-greet{
        font-weight: 600;
        font-size: 45px;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}

.banner-pic{
    width: 580px;
}

/* main styles */
main{
    max-width: 1140px;
    margin:0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    /* margin-top: 130px; */
}

.about-items{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.item-descrip{
    font-weight: 600;
}

/* what i do styles */

.what-i-do{
    /* text-align: center; */
}

.skills-container{
    display: flex;
    gap:24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow:0 6px 50px 0  rgb(0,0,0,0.06);
}

/* resume section styles */
.resume-container{
    display: flex;
    gap: 24px;
}

.experience-descrip,.experience-subtitle{
    color: #757575;
}

.experience-title{
    margin-bottom: 0px;
}

.experience-subtitle{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume hr{
    margin-top: 30px;
    margin-left: 8px;
}

.cv-button{
    margin-top: 30px;
}

/* footer styles */
footer{
    display: flex;
    padding: 130px 230px;
    gap:100px ;
}

.footer-col{
    width: 50%;
}

.footer-icon .second-icon{
    margin-left: 24px;
    margin-right: 24px;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    width: 100%;
    height: 64px;
    background-color: white;
    border: none;
    border-radius: 5px;
    display: block;
    padding:10px 20px ;
    margin-bottom: 10px;
}